ul li{list-style: none;}  

body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.header {
    margin: 0px auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 0px; 
    align-items: center;
}
.header__img {
    width: 100px;
    height: 100px;
}
.header__menu {
}
.header__menu-img{
    width: 50px;
    height: 50px;
}
.header__menu:hover{
    cursor: pointer;
}
.main {
}
.container__section {
/*     max-width: 1200px;
 */    margin: 0px auto;
 padding: 0px 80px;
}
.slider {
    transition: 0.7s;
    display: flex;
    max-height: var(--slideHeight);
    width: 100%;
    transition: 0;
}


.slide{
    background-color: transparent;
    width: 100%;
    height: var(--slideHeight);
    flex: 0 0 100%;
    position: relative;
}





img{
    height: 500px;
    width: 500px;
}

.slide__image{
    transition: 0.3s;
    display: block;
    height: 350px;
    width: 350px;
    margin: 0px auto;
    filter: drop-shadow(3px 17px 28px black);
}


/* #mars{
    position: absolute;
    top: 125px;
    right: 20px;
} */


.shadow__box-mars {
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: -1;

}
.shadow__box-earth {
    position: absolute;
    top: -20px;
    right: 150px;
    z-index: -1;

}
.shadow__box-mercury {
    position: absolute;
    top: 70px;
    right: 150px;
    z-index: -1;

}
.shadow__box-venus {
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: -1;

}



.shadow__box-astronaut-3{
    position: absolute;
    top: 70px;
    left: 270px;
}
.shadow__box-astronaut-4{
    position: absolute;
    top: 80px;
    left: 220px;
}
.shadow__box-astronaut-5{
    position: absolute;
    top: 80px;
    left: 100px;
}
.shadow__box-astronaut-1{
    position: absolute;
    top: 90px;
    right: 300px;
}




.shadow__box {
    transition: 0.5s;
    width: max-content;
    display: flex;
    gap: 128px; /* 100% */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.slide__image {
}

.shadow {
    background-color: rgba(0, 0, 0, 0.462);
    border-radius: 50%;
    height: 40px;
    width: 100%;
    filter: blur(15px);
}

/* #earth{
    /* position: absolute;
    top: -70px;
    right: 20px; 
}
#mercury{
    position: absolute;
    top: 100px;
    right: -40px;
}
#venus{
    position: absolute;
    top: 20px;
    left: 20px;
} */
.slide__body {
    position: relative;
}




.astronaut{
    width: 200px;
    height: auto;
    transition: 0.1s;
}


/* 
.astronaut__mars{
    position: absolute;
    top: 30px;
    left: 200px;
} */

 .astronaut__earth{
    rotate: -25deg;
}
/*
.astronaut__mercury{
    position: absolute;
    top: 50px;
    left: 80px;
}
*/
.astronaut__venus{
    rotate: -30deg;
} 








.slide__title {
    font-size: 130px;
    color: white;
    font-family: Unbounded;
    font-weight: 900;
    position: absolute;
    top: 25vh;
    left: 25vw;
}
.mercury__title{
    left: 15vw;
}
.slider__dots {
}
.dots__group {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
    font-family: Unbounded;
    transform: translate(0px, -65px);
    

    
}
.dots__element {
    filter: drop-shadow(3px 17px 28px black);
}

.dots__element:hover{
    cursor: pointer;
}
.footer {
}
.footer__title {
    display: flex;
    gap: 20px;
    color: white;
}
#footer__btn:hover{
    cursor: pointer;
}

.animation-letter {
    display: inline-block;

}


.animation-letter.show{
    animation: AnimLetter 1s linear;
    transform: scaleX(1.5);
    padding: 0px 20px;
}



@keyframes AnimLetter {
    0%{
        transform: scaleX(1);

    }
    100%{
        transform: scaleX(1.5);

    }
}
.slide__title{
    letter-spacing: 10px;
} 



.slide__title:hover{
    cursor: default;
}