


body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.header {
    margin: 0px auto;
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 15px; 
    align-items: center;
}
.header__img {
    width: 100px;
    height: 100px;
    z-index: 501;
}
.header__menu {
    position: relative;
}
.header__menu-img{
    width: 50px;
    height: 50px;
}
.header__close-img{
    position: relative;
    display: none;
    z-index: 505;
    color: white;
    font-size: 25px!important;
    background-color: none;
    transition: 0.2s;
    rotate: 0deg;
    padding: 20px;
}
/* .header__close-img.show{
    position: relative;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 502;
    color: white;
    font-size: 50px!important;
    background-color: none;
} */
.header__close-img:hover{
    cursor: pointer;
}
.header__menu:hover{
    cursor: pointer;
}
.main {
    overflow: hidden;
    height: 100vh;
}


.container__section {
/*     max-width: 1200px;
 */    margin: 0px auto;
/*  padding: 0px 80px;
 */
/*  overflow-x: hidden;
 overflow-y: visible; */
}
.slider {
    transition: 0.7s;
    display: flex;
    max-height: var(--slideHeight);
    width: 100%;
    transition: 0;
}


.slide{
    background-color: transparent;
    width: 100%;
    height: var(--slideHeight);
    flex: 0 0 100%;
    position: relative;
}




/* 
img{
    height: 500px;
    width: 500px;
} */

.slide__image{
    transition: 0.3s;
    display: block;
    height: 350px;
    width: 350px;
    margin: 0px auto;
    filter: drop-shadow(3px 17px 28px black);
}


/* #mars{
    position: absolute;
    top: 125px;
    right: 20px;
} */


.shadow__box-mars {
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: -1;

}
.shadow__box-earth {
    position: absolute;
    top: -20px;
    right: 150px;
    z-index: -1;

}
.shadow__box-mercury {
    position: absolute;
    top: 70px;
    right: 150px;
    z-index: -1;

}
.shadow__box-venus {
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: -1;

}



.shadow__box-astronaut-3{
    position: absolute;
    top: 70px;
    left: 270px;
}
.shadow__box-astronaut-4{
    position: absolute;
    top: 80px;
    left: 220px;
}
.shadow__box-astronaut-5{
    position: absolute;
    top: 80px;
    left: 100px;
}
.shadow__box-astronaut-1{
    position: absolute;
    top: 90px;
    right: 300px;
}




.shadow__box {
    transition: 0.5s;
    width: max-content;
    display: flex;
    gap: 128px; /* 100% */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.slide__image {
}

.shadow {
    background-color: rgba(0, 0, 0, 0.462);
    border-radius: 50%;
    height: 40px;
    width: 100%;
    filter: blur(15px);
}

/* #earth{
    /* position: absolute;
    top: -70px;
    right: 20px; 
}
#mercury{
    position: absolute;
    top: 100px;
    right: -40px;
}
#venus{
    position: absolute;
    top: 20px;
    left: 20px;
} */
.slide__body {
    position: relative;
}




.astronaut{
    width: 200px;
    height: auto;
    transition: 0.1s;
}


/* 
.astronaut__mars{
    position: absolute;
    top: 30px;
    left: 200px;
} */

 .astronaut__earth{
    rotate: -25deg;
}
/*
.astronaut__mercury{
    position: absolute;
    top: 50px;
    left: 80px;
}
*/
.astronaut__venus{
    rotate: -30deg;
} 








.slide__title {
    font-size: 130px;
    color: white;
    font-family: Unbounded;
    font-weight: 900;
    position: absolute;
    top: 25vh;
    left: 25vw;
}
.mercury__title{
    left: 15vw;
}
.slider__dots {
}
.dots__group {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
    font-family: Unbounded;
    transform: translate(0px, -65px);
    

    
}
.dots__element {
    filter: drop-shadow(3px 17px 28px black);
}

.dots__element:hover{
    cursor: pointer;
}
.footer {
}
.footer__title {
    margin-left: 50px;
    display: flex;
    gap: 20px;
    color: white;
}
#footer__btn:hover{
    cursor: pointer;
}

.animation-letter {
    display: inline-block;

}


.animation-letter.show{
    animation: AnimLetter 1s linear;
    transform: scaleX(1.5);
    padding: 0px 20px;
}



@keyframes AnimLetter {
    0%{
        transform: scaleX(1);

    }
    100%{
        transform: scaleX(1.5);

    }
}
.slide__title{
    letter-spacing: 10px;
} 



.slide__title:hover{
    cursor: default;
}



.modal__background{
    position: absolute;
    right: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50px;
    z-index: 500;
    cursor: default;
    background-color: black;
    
}
.modal__background.hide{
    position: absolute;
    right: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50px;
    z-index: 500;
    animation: 0.5s RemoveModal linear(0 0%, 0.22 35.43%, 1 100%) ;
    cursor: default;
    background-color: black;
    
}

.modal__background.show{
    background-color: black;
    transform: scale(5000);
    animation: 0.5s ModalShow linear(0 0%, 0.22 35.43%, 1 100%) ;}

@keyframes ModalShow {
    0%{
        transform: scale(0);      
    }
    100%{
        transform: scale(5000);
    }
}

@keyframes RemoveModal {
    0%{
        transform: scale(5000); 
        background-color: black;

              
    }
    100%{
        transform: scale(0);
        background-color: black;

    }
}
.modal__menu{
    display: none;
}
.modal__menu.show {
    transform: 2s;
    color: white;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 501;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    gap: 20px;
}
.modal__card__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal__card{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 80%;
    height: 80%;
    background-color: brown;
}
.modal__info__block {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 20px;
    justify-content: center;
    width: 100%;
}


.info__list{
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

.info__element{
    font-size: 30px;
    opacity: .7;
}
.info__element:hover{
    cursor: pointer;
    opacity: 1;
}

.modal__planets__block {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    }


/* *{
    outline: 2px solid #f0f;
} */

.modal-planet{
    width: 250px;
    height: auto;
}

.modal-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

.modal-planet-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.modal-planet-shadow{
    background-color: rgba(0, 0, 0, 0.462);
    border-radius: 50%;
    height: 40px;
    width: 100%;
    filter: blur(15px);
}

.header__cicrle-close{
    display: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 505;
    transition: 0.2s;

}
.header__cicrle-close.show{
    border: 4px solid #fff;
    display: flex !important;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    z-index: 505;
    position: relative;
}
.header__cicrle-close:hover{
    background-color: #fff;
    animation: ShadowClose 1s linear;
}

@keyframes ShadowClose {
    0%{
        box-shadow: 0px 0px 5px 5px #fff;
        scale: 1.1;
    }
    50%{
        box-shadow: 0px 0px 5px 5px #ffffff00;
    }
    100%{
        scale: 1.00;

    }
}

.header__cicrle-close:hover .header__close-img{
    color: black;
    rotate: 360deg;
}

.planet__box-img{
    width: 75px;
}

.planet__box{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 80%;
    opacity: 0.8;
}

.planet__box:hover{
    opacity: 1;
    cursor: pointer;

}